@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Start.css" />

<img class="img-zuyd" src="~/Images/zuyd.png" alt="Zuyd Logo" />
<img class="img-Adventure" src="~/Images/AdventureChallengepng.png" alt="AdventureChallenge" />

<button type="button" onclick="location.href='@Url.Action("SignUp", "Account")'" class="SignUp-button">Sign Up</button>

<button type="button" onclick="location.href='@Url.Action("Login", "Account")'" class="Login-button">Login</button>


